#box1{
    background-color: cyan;
    position: absolute;
    
    

}

#box2{
    background-color: yellow;
    position: absolute;
    top: 1em;
    left: 1em;
}

#box3{
    background-color: blue;
    position: absolute;
    top: 2em;
    left: 2em;
}
#box4{
    background-color: red;
    position: absolute;
    top: 3em;
    left: 3em;
}

#box5{
    background-color: green;
    position: absolute;
    top: 4em;
    left: 4em;
    
}

div:hover{
    z-index: 10;
}

#bloecke{
    position: relative;
    
}




@media screen and (min-width: 800px){


    #bloecke{ 
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #bloecke > div:first-child {
        grid-column: 1/-1;
    }
    

}

